/* tile.component.css */
.tile {
  position: absolute;
  width: 100px;
  height: 50px;
}

.tile-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.unit-image {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 5px;
  left: 30px;
}
